@page "/"

<PageTitle>Aidn</PageTitle>

<h1>Welcome to Aidn!</h1>
<br />
Aidn is a new record system for documentation and collaboration in the primary healthcare service.
<br />
<br />
<AuthorizeView>
    <NotAuthorized>
        Please <MudLink Href="/authentication/login">Log in</MudLink> with your Microsoft account to do all health related operations.
    </NotAuthorized>
</AuthorizeView>

