::deep .sidebar-svg svg {
    transform: scale(0.8);
}

::deep .app-drawer {
    white-space: nowrap;
}

::deep .upper-half {
    margin-bottom: 40px;
}

::deep .lower-half {
    padding-bottom: 40px;
    background: #F6F6F3;
}

::deep .sidebar-svg svg {
    transform: scale(0.75);
}

::deep .supplier-info {
    white-space: pre-wrap;
}
